# Numpy and Pandas

## Goals

- Introduce the numpy and pandas libraries.

Learning objectives:

      - Numpy arrays and its mathmateical abilities
      
      - Importing data into pandas using CSVs
      
      - Slicing and filtering pandas dataframes
      
      - Cleaning data
      
      - Statistics and other math with pandas


- Two common Python libraries used for statistical analysis, data munging/wrangling/transformation, and other mathematical purpose.

- To put it simply, there is your connection to the data. Pandas is the most important tool because you'll spend the most time and effort with it.

### Numpy

Numpy has a wide ecosystem of functions and uses but for the purpose of this course we will focus on arrays aka numpy's version of a list

In [ ]:
# Import library

In [ ]:
#Let's turn a list into an array

l = [3,2,6,7,9,1,2,-5]

array =

In [ ]:
#Call it

In [ ]:
#Call type

How arrays differ from lists

In [ ]:
#Does this code work

In [ ]:
#What about this?

In [ ]:
#Multiply l by 2

In [ ]:
#Multiply array by 2

Numpy array have mathematical abilities that lists don't have, which makes them easier to use

In [ ]:
#Mean value

In [ ]:
#Maximum value

In [ ]:
#Mininum value

In [ ]:
#Sum all values

In [ ]:
#Find standard deviation

In [ ]:
#What happens when you do this
dir(array)

Can also use numpy itself to call certain functions

In [ ]:
#Median

In [ ]:
#Square

In [ ]:
#Square root

In [ ]:
# Absolute value

In [ ]:
# dir(np)

Arrays can also be multi-dimensional

In [ ]:
#Make range array of 0 to 15

In [ ]:
#Reshape array
arr_2d = 
arr_2d

Slicing two dimension array

In [ ]:
#Slice rows

In [ ]:
#Slice columns

In [ ]:
#Slice both rows and columns

In [ ]:
#Slice specific value

Fantastic numpy tutorial here: https://www.datacamp.com/community/tutorials/python-numpy-tutorial

## Pandas

From <u>[Mastering Pandas](https://www.packtpub.com/big-data-and-business-intelligence/mastering-pandas)</u>

    The pandas is a high-performance open source library for data analysis in Python developed by Wes McKinney in 2008. Over the years, it has become the de-facto standard library for data analysis using Python. There's been great adoption of the tool, a large community behind it, (220+ contributors and 9000+ commits by 03/2014), rapid iteration, features, and enhancements continuously made.
    
    • It can process a variety of data sets in different formats: time series, tabular heterogeneous, and matrix data.
    • It facilitates loading/importing data from varied sources such as CSV and DB/SQL.
    It can handle a myriad of operations on data sets: subsetting, slicing,  ltering, merging, groupBy, re-ordering, and re-shaping.
    • It can deal with missing data according to rules defined by the user/ developer: ignore, convert to 0, and so on.
    • It can be used for parsing and munging (conversion) of data as well as modeling and statistical analysis.
    • It integrates well with other Python libraries such as statsmodels, SciPy, and scikit-learn.

In [ ]:
#Import pandas library

In [ ]:
#Create a pandas series.
values = [0.25, 0.5, 0.75, 1.0]
index = ['a', 'b', 'c', 'd']

series = 
series

In [ ]:
#Return row

In [ ]:
#Change value in the series

In [ ]:
#Turn python dictionary into pandas series
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = 
population

In [ ]:
#Call California

In [ ]:
#Turn python dictinonary into pandas data frame

data = {"feature_one" :[1,2,4,8,-3],
       "feature_two" : ["haight", "mission", "geary", "castro", " potrero"],
       "feature_three": [True, True, False, True, False]}

In [ ]:
#Return columns

In [ ]:
#Return index

In [ ]:
#Returns numpy array version of data frame. Also works on series.

In [ ]:
#Call type on df

In [ ]:
#Call feature_one column

In [ ]:
#df.feature_one also works

In [ ]:
#Call type on f1

In [ ]:
#Select columns 
cols = ["feature_one", "feature_two"]

In [ ]:
#Add new column to dataset

#Create new column feature_four by assigning it to number 4


#Create new column feature_five by assigning it to list ds
ds = ["Data", "Science", "Math", "Programming", "Hacking"]

Time to work with some actual data

In [ ]:
#File location of drinks dataset
path = "../../data/drinks.csv"

drinks =

In [ ]:
#Head is used to view first 5 rows. 5 is default but can be changed.

In [ ]:
#Tail is for last five rows

In [ ]:
#Let's designate the country column as the index

In [ ]:
#How many rows and columns are there in this dataset?

General dataset information

In [ ]:
#Lets look at this some details of this dataset

In [ ]:
#Summary stats
drinks.describe()

In [ ]:
#Correlation matrix
drinks.corr()

## Slicing dataframes

.loc

In [ ]:
# Select values in Peru row

In [ ]:
#Select values in wine_servings column

In [ ]:
#Slice countries Germany to Guyana and columns beer_servings to wine_servings

.iloc

What do you think iloc does???

In [ ]:
#Returns row at index 48

In [ ]:
#Returns column at index 1

In [ ]:
#Return slice of rows and columns

iloc slices dataframes using the integer index.

<b>Conditional selection<b>

What happens when you run the next two cells?

In [ ]:
drinks.continent == "EU"

In [ ]:
drinks.wine_servings > 20

Take those commands and pass them into the drinks data frame

In [ ]:
#Rows with countries in Europe

In [ ]:
#Rows where wine_servings greater than 20

In [ ]:
#What if we want non-European countries?

`drinks.continent=='EU'` by itself returns a bunch of Trues and Falses.

When you wrap drinks around it with square brackets you're telling the drinks dataframe to select only those that are True, and not the False ones.

In [ ]:
#Return a data frame where both conditions are true

In [ ]:
#Return data frame where either condition is true

In [ ]:
#Return rows where wine_serving is greater than beer_servings

In [ ]:
#Call .index to return just the countries
drinks[drinks.wine_servings > drinks.beer_servings]

We can sum boolean values.

In [ ]:
#How many countries consume no beer at all?

Back to series

In [ ]:
#Assign beer_servings to variable beer

In [ ]:
#Can do math operations similar to numpy arrays
#Multiply every value in beer by

In [ ]:
#Add 2 to every value in beer

In [ ]:
#Derive mean of beer

In [ ]:
#Derive median of beer

In [ ]:
#Sum all values in beer

In [ ]:
#Assign wine_servings column to wine variable
wine =

In [ ]:
#Create a new column call total_servings that is the sum of the beer, wine, and spirits columns
drinks["total_servivings"] = 
#Call head
drinks.head()

In [ ]:
#Assign continent variable to cont

In [ ]:
#How many null values are there in continent

In [ ]:
#Replace every null with "No Continent"

`.fillna()` is great replacing all the null values in a numerical column with the mean of that column

Another option is to drop nulls

In [ ]:
#Drop every null value in cont

`.isnull()`, `.fillna()`, and `.dropna()` work with data frames as well

In [ ]:
#What are the continents in cont?

In [ ]:
#How many unique values there are

In [ ]:
#How many countries are from each continent?

In [ ]:
#What percentage of the data belongs to each continent

Lets go back to drinks data frame

In [ ]:
#Call the columns
drinks.columns

In [ ]:
#renaming columns

In [ ]:
#Show me the top 5 booziezt countries

Does that seem right?

We're forgetting something

In [ ]:
#Same code as before but set ascending to False

Sorting in python defaults to going from least to greatest

In [ ]:
#Sort values in a series

### Exercise time

1. Which countries drink more spirits than beer?

2. Find the top five booziest countries of each continent, do not include "No continent." Try using dictionary and for loop.

In [ ]:
#Answer 1.

In [ ]:
#Answer 2.

## Groupby

**Split Apply Combine**

<img src="https://www.safaribooksonline.com/library/view/learning-pandas/9781783985128/graphics/5128OS_09_01.jpg">

In [ ]:
#Group by continent

In [ ]:
#Data needs to be accessed by certain methods
#Call .mean()

In [ ]:
#Call .median()

In [ ]:
#What happens when you do .describe()

In [ ]:
#Call specific column on groupby object and find the minimum value

In [ ]:
#Find the max

End of drinks data. Any questions before we move on?

In [ ]:
#Read in chiptole dataset


path = "../../data/chipotle.tsv"
#Use read_table instead read_csv
chip =

We can see that there are some NaN present in the data set. Let's look at how many there are in each column.

In [ ]:
#Call .isnull() and then call .sum()

In [ ]:
#What happens when you tack on another .sum()?

We need to fix the price column before converting it to a float

In [ ]:
#Whats is item_price type?

Pandas series have a string (`str`) method that lets you treat a column like a string

In [ ]:
#Call .str

In [ ]:
#Replace $ with empty string and overwrite item_price column

In [ ]:
#Change the type of column from object to float and overwrite item_price column

More examples of using the `str`

In [ ]:
#Capitalize

In [ ]:
#Lower case

In [ ]:
#Length of string

We know how to drop rows with null values but how do we drop columns with null values?

In [ ]:
#Drop columns with null values

Remember `chip.isnull().sum()`?

In [ ]:
#Set axis = 1 in .sum()

Axis refers to which direction you wish your command to follow. 1 == columns, 0 = rows. 0 is the default.

This is handy when it comes to dropping rows and columns

In [ ]:
#Lets get rid of the item_name column

Why didn't this work?

Forgot to do axis = 1 !!

Let's try it again

In [ ]:
#Make it permanent

If you want to drop rows pass index name or list of index names

In [ ]:
index_drops = [0, 2, 4, 6, 8]

Move on from Chipotle to Movie metadata

In [ ]:
#Load in movie_metadata dataset
path = "../../data/movie_metadata.csv"

In [ ]:
#Check shape

In [ ]:
#Check out columns

In [ ]:
#Check out the info

In [ ]:
#Replace nulls in budget with median of budget

In [ ]:
#Drop nulls permanently

In [ ]:
#How many rows are ther post null dropping?

Filter out some data. Let's only look at movies that are rated G, PG, PG-13, and R.
We could do it this way movies[(movies.content_rating=="G") etc...]

But let's not!

In [ ]:
#List called ratings with the four ratings we want to use
ratings = ["G", "PG", "PG-13", "R"]

In [ ]:
#What are the unique values in ratings

In [ ]:
#Now lets check to see if a value in content "is in" ratings

In [ ]:
#Return new data frame with movies with a rating that is in ratings

In [ ]:
#check shape

## Mapping and applying functions

In [ ]:
#Make a new column called profit by subtracting budget from gross
movies["profit"] =

We want to know if a movie is profitable. How can we go about doing that?
With some python!

In [ ]:
#Make a function that returns "profitable" for profit > 0 and "loss" for profit <= 0
def profit_decider(x):

In [ ]:
#Apply the function onto the profit column

In [ ]:
#Make new column called "profitable"

In [ ]:
#How many movies are profitable and not profitable

Use lambda functions

In [ ]:
#Return 1 for movies directed by Christopher Nolan

`.apply()` allows us to transform values based on rules set by a function.

`.map()` allows us to use a dictionary to directly change values

In [ ]:
#Example of changing male to m and female to f

A parent wants to make a new column called kid friendly where movies that G or PG are labelled "KF" and PG-13 and R movies are labelled "NKF"

In [ ]:
#Map a dictionary onto the content_rating column and create new column called "kid_friendly"
kf_dict = {"G" : "KF",
          "PG" : "KF",
          "PG-13" : "NKF",
          "R" : "NKF"}


movies["kid_friendly"] =

In [ ]:
#Call values_counts
movies.kid_friendly.value_counts()

Remember that you must account for every unique value or you will get null values

## Class work exercises

1) What percent of movies are directed by James Cameron?

2) What are the correlations among budget, gross, and imdb_score?

3) How many PG-13 movies has Robert De Niro starred in?

4) How much money have non-English films generated?

5) Who are the top five grossing directors on average?

5b) Now only look at directors who have directed more than five films

6) How many movies contain "Action" in the genre column? What about Comedy? What about both Comedy and Action?

If you finish the exercises before the end of class, then further investigate the movies dataset on your own or any of the other sets in the data folder.

Be sure to check out any of these pandas resources

- Pandas cheatsheets in the extracurricular directory

- https://chrisalbon.com/ <- Great website. For now check out data wrangling section.

- Data school's collection of resources http://www.dataschool.io/best-python-pandas-resources/

- Data school tutorial in giant repo. http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb

- http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
- http://nbviewer.jupyter.org/github/fonnesbeck/Bios8366/blob/master/notebooks/Section2_1-Introduction-to-Pandas.ipynb

- Repo with Pandas exercises https://github.com/guipsamora/pandas_exercises

- https://github.com/brandon-rhodes/pycon-pandas-tutorial

- https://github.com/jonathanrocher/pandas_tutorial

- https://github.com/chendaniely/scipy-2017-tutorial-pandas

- https://github.com/adeshpande3/Pandas-Tutorial

Youtube is your friend!! They are too many pandas tutorials videos to count.

<b>If you find a good resource be sure to share it with the rest of the class<b>